body{
  height: 100vh;
  width: 100%;
  background-color: rgb(57, 52, 52);
}
/*Navbar*/
.Navbar{
  width: 100%;
  height: 10vh;
  background-color: rgb(35, 29, 29);
  display: flex;
  align-items: center;
}
.logo{
  color: rgb(145, 145, 145);
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
}
nav ul li{
  display: inline-block;
  margin: 0.2rem;
  color: rgb(145, 145, 145);
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-size: 1.4rem;
}
nav ul li:hover{
  cursor: pointer;
  color: rgb(209, 209, 209); 
}
nav div{
  margin-left: 1rem;
  transition: 0.5s;
}
nav div:hover{
  cursor: pointer;
  color: rgb(209, 209, 209); 
}
nav ul{
  margin-left: auto;
  margin-right: 1rem;
}
.line{
  width: 1.5rem;
  height: 0.4rem;
  background-color: rgb(145, 145, 145);
  margin-top: 2px;
  border-radius: 2px;
}
.menu:hover .line{
  cursor: pointer;
  background-color: rgb(255, 255, 255); 
}
.menu{
  margin-left: auto;
  margin-right: 1rem;
  display: none;
}
/* Carousel*/
.carousel-container{
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 5rem;
  overflow: hidden;
}
.carousel{
  width: 160vw;
  height: 25vh;
  background-color: rgb(204, 204, 204);
  border-radius: 5rem;
  display: flex;
}
.token{
  width: 15vw; 
  height: 20vh;
  background-color: yellow;
  margin: auto;
}

/*Responsive*/
@media all and (max-height: 600px) {
  html{
    font-size: 10px;
  }
}
@media all and (max-height: 350px) {
  html{
    font-size: 7px;
  }
}
@media all and (max-width: 600px) {
  .menu{
    display: block;
  }
  nav ul{
    display: none;
  }
}